<!doctype html>
<html lang="en">
{{ include("head.html.twig") }}
{{ include("header.html.twig") }}
<body>
<h1>
    Transaction list
</h1>
{% if not transactions %}
    <p>No transactions found.</p>
{% else %}
    <table>
        <tr>
            <th>Sent Amount</th>
            <th>Sent Ticker</th>
            <th>Type</th>
            <th>Received Amount</th>
            <th>Received Ticker</th>
            <th>Date</th>
        </tr>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.sentMoney.amount }}</td>
                <td>{{ transaction.sentMoney.ticker }}</td>
                <td>{{ transaction.type }}</td>
                <td>{{ transaction.receivedMoney.amount }}</td>
                <td>{{ transaction.receivedMoney.ticker }}</td>
                <td>{{ transaction.createdAt }} UTC</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
</body>
</html>